<ion-view view-title="Number Arrange">
    <ion-content>
        <div class="card list-bg3">
            <div class="item item-body">
                <p class="text-center">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique reprehenderit perferendis eius tempore vero id.
                </p>
            </div>
        </div>
        <div class="list" ng-repeat="obj in draggableObjects" ng-drop="true" ng-drop-success="onDropComplete($index, $data,$event)">
            <div ng-drag="true" ng-drag-data="obj" ng-class="obj.name">
                <div class="item item-avatar">
                    <img src="img/{{obj.img}}">
                    <h2>{{obj.name}}</h2>
                </div>
            </div>
        </div>
    </ion-content>
    <div class="bar bar-footer">
        <button class="button button-clear button-back"></button>
        <button class="button button-clear button-next"></button>
    </div>
</ion-view>
