<ion-view view-title="About">
    <ion-content>
        <h1 class="text-center">About</h1>
        <div class="list card">
            <div class="item item-text-wrap">
                <center>ANDROID BASED MATH GAME FOR GRADE 1 OF ESCALANTE ELEMENTARY SCHOOL</center>
            </div>

            <div class="item item-body">
                <p class="text-center">
                    A Proposal Capstone Project
                </p>
                <p class="text-center">
                    Presented to the Faculty of
                </p>
                <p class="text-center">
                    Information Technology Department
                </p>
                <p class="text-center">
                    Northern Negros State College of Science and Technology
                </p>
                <p>
                    Mathematics is a boring subject to some students. To boost their interest in it, games with math come into play. They are often accompanied with cartoon characters in order to make the game more fun for children and adults, too. Players can practice their skills while stimulating their brain. They can also boost their intelligence especially if they play them frequently. Learning mathematics in terms of games by which grade 1 pupils will enjoy.
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>
