<ion-view view-title="Counting" hide-back-button="true">
    <ion-nav-bar class="bar-orange">
        <ion-nav-back-button class="button-clear button-icon button button-back">
        </ion-nav-back-button>
        <ion-nav-buttons side="right">
            <a style="color: white;" class="button button-clear" id="time">
                {{counter}}
            </a>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content has-header="true" padding="true">
        <h2 class="text-center">
            Count and Select the right answer.
        </h2>
        <div class="card">
            <div class="item item-body">
                <div class="ui-controlgroup ui-controlgroup-horizontal ui-corner-all">
                    <div class="ui-controlgroup-controls ">
                        <img ng-repeat="img in questions.title" ng-src="img/new/{{img.img}}" style="width:52px;">
                    </div>
                </div>
            </div>
        </div>
        <button class="button button-block button-large button-clear button-blue" ng-repeat="img in questions.choices" ng-click="eventButton($index,questions.ans,questions)">
            {{img.choice}}
        </button>
    </ion-content>
</ion-view>
