<ion-view view-title="Score" hide-back-button="true">
    <ion-nav-bar class="bar-orange">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-content padding="true">
        <!-- <div class="card">
            <div class="item item-divider">
                Previous Score
            </div>
            <div class="item item-text-wrap">
                <h2>SCORE: <span>{{previousScore.score}}</span></h2>
            </div>
        </div> -->
        <div class="card">
            <div class="item item-divider">
                Current Score
            </div>
            <div class="item item-text-wrap">
                <h2>SCORE: <span>{{score}}/{{limit}}</span></h2>
            </div>
        </div>
        <div class="card" ng-repeat="item in results">
            <div class="item item-body">
                <small>{{$index + 1}}.) {{item.title}} </small>
                <center>
                    <div class="ui-controlgroup ui-controlgroup-horizontal ui-corner-all">
                        <div class="ui-controlgroup-controls ">
                            <img ng-src="img/new/{{item.img}}" style="width:52px;">
                        </div>
                    </div>
                </center>
            </div>
            <div class="item item-body">
                <strong>ANSWER: </strong><span class="lead">{{item.answer}}</span>
            </div>
            <div class="item item-icon-right">
                <strong>YOUR ANSWER: </strong><span class="lead">{{item.myans}}</span>
                <i class="icon ion-close assertive" ng-hide="item.correct==true"></i>
                <i class="icon ion-checkmark balanced" ng-hide="item.correct!=true"></i>
            </div>
        </div>
    </ion-content>
    <div class="bar bar-footer light-bg">
        <div class="title"></div>
        <div class="buttons">
            <a class="button button-clear button-reload" style="margin-left:10px;" ng-click="resetQuiz()"></a>
            <a class="button button-clear button-save" style="margin-left:10px;" ng-click="saveScore()"></a>
        </div>
    </div>
</ion-view>
