<ion-view view-title="Drag and Drop" hide-back-button="true">
    <ion-nav-bar class="bar-orange">
        <ion-nav-back-button class="button-clear button-icon button button-back">
        </ion-nav-back-button>
        <ion-nav-buttons side="right">
            <a style="color: white;" class="button button-clear" id="time">
                {{counter}}
            </a>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content class="padding">
        <h3 class="text-center">
            {{questions.title}}
        </h3>
        <div class="list">
            <div class="item item-image">
                <img ng-src="img/new/{{questions.img}}" style="width:100px;height:100px;" ng-drag="true" ng-drag-data="questions">
            </div>
        </div>
        <div class="list card" ng-repeat="obj in questions.choices">
            <div class="item item-thumbnail-left" ng-drop="true" ng-drop-success="onDropComplete1($data,$event,{{$index}})" ng-center-anchor="{{centerAnchor}}">
                <img ng-src="img/new/{{selected_image}}" style="width:100px;height:100px;" ng-show="selected_image.length > 0" ng-if="$index == index">
                <h2>{{obj.choice}}</h2>
            </div>
        </div>
    </ion-content>

    <div class="bar bar-footer bg-transparent">
        <div class="title"></div>
        <button class="button button-clear button-next" ng-hide="!enable" ng-click="getquestion()"></button>
    </div>
</ion-view>
