<ion-modal-view>
    <ion-header-bar class="bar-orange">
        <h1 class="title">Leaderboard</h1>
        <div class="buttons">
            <button class="button button-clear button-s_close" ng-click="closeScores()"></button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="card" ng-repeat="score in scores">
             <div class="item item-icon-left">
                <i class="icon ion-person-stalker"></i> {{score.name}}
                <span class="badge badge-assertive">{{ score.score }}</span>
            </div>
        </div>
    </ion-content>
</ion-modal-view>
