<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-orange">
      <ion-nav-back-button class="button-clear button-icon button button-back">
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" expose-aside-when="large">
    <ion-header-bar class="bar-orange">
      <h1 class="title"></h1>
    </ion-header-bar>
    <ion-content>
      <a class="button button-block button-large icon-left ion-home list-bg" href="#/app/playlists" menu-close> Home</a>
      <a class="button button-block button-large icon-left ion-help list-bg " href="#/app/browse" menu-close> About</a>

    </ion-content>
  </ion-side-menu>
</ion-side-menus>
