<ion-view view-title="Math for Kids">
    <ion-nav-buttons side="secondary">
        <button class="button button-clear button-sound" ng-class="{'button-sound2':!isPlay}" ng-click="play()"></button>
    </ion-nav-buttons>
    <ion-content class="padding has-header">
        <div class="card welcome-message"></div>
        <a class="button button-block button-large button-clear button-start" href="#/app/quiz"></a>
        <a class="button button-block button-large button-clear button-leaderboard" href="#/app/leaderboard"></a>
        <a class="button button-block button-large button-clear button-author" href="#/app/search"></a>
        <br>
        <a class="button button-block button-large button-clear button-quit" ng-click="showConfirm()"></a>
    </ion-content>
</ion-view>
