<ion-view view-title="">
    <ion-content>
        <div class="card quiz-panel">
            <div class="item t-40">
                <a class="button button-block button-large list-bg2" href="#/quizans"> QUIZ</a>
                <a class="button button-block button-large list-bg2" href="#/drag"> DRAG AND DROP</a>
                <a class="button button-block button-large list-bg2" href="#/counting"> COUNTING</a>
            </div>
        </div>
    </ion-content>
</ion-view>

