<ion-view view-title="Quiz" hide-back-button="true">
    <ion-nav-bar class="bar-orange">
        <ion-nav-back-button class="button-clear button-icon button button-back">
        </ion-nav-back-button>
        <ion-nav-buttons side="right">
            <a style="color: white;" class="button button-clear" id="time">
                {{counter}}
            </a>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content class="padding">
        <h3 class="text-center">
            {{questions.title}}
        </h3>
        <div class="card">
            <div class="item item-body">
                <div class="ui-controlgroup ui-controlgroup-horizontal ui-corner-all">
                    <div class="ui-controlgroup-controls ">
                        <img ng-repeat="i in questions.img" ng-src="{{i.src}}" style="width:52px;">
                    </div>
                </div>
            </div>
        </div>
        <div class="list">

            <!--<ion-radio ng-repeat="item in questions.choices" ng-value="{{$index}}" ng-model="item.action" ng-click="serverSideChange($index,item,questions)">
              {{item.choice}}
          </ion-radio> -->

            <label class="item item-radio" ng-repeat="item in questions.choices" ng-click="serverSideChange($index,item,questions)">
                <input type="radio" name="group" value="{{$index}}">
                <div class="item-content">
                    {{item.choice}}
                </div>
                <i class="radio-icon icon-check"></i>
            </label>
        </div>
    </ion-content>

    <div class="bar bar-footer bg-transparent">
        <!-- <button class="button button-clear button-back" ng-hide="!prevenable" ng-click="previousquestion()"></button> -->
        <div class="title"></div>
        <button class="button button-clear button-next" ng-hide="!enable" ng-click="getquestion()"></button>
    </div>
</ion-view>
