<ion-view view-title="Menu">
    <ion-content>
        <div class="card quiz-panel">
            <div class="item t-40">
                <a class="button button-block button-large list-bg2" ng-click="showScores(1)"> QUIZ</a>
                <a class="button button-block button-large list-bg2" ng-click="showScores(2)"> DRAG AND DROP</a>
                <a class="button button-block button-large list-bg2" ng-click="showScores(3)"> COUNTING</a>
            </div>
        </div>
    </ion-content>
</ion-view>

