<ion-view view-title="Author">
    <ion-content has-padding="true" has-header="true">
        <h1 class="text-center">Author</h1>
        <div class="card">
            <div class="item item-text-wrap item-avatar">
                <img src="img/pics/1.jpg">
                Chris Arni Joy Sulat
                <p>Bachelor Science in Information Technology</p>
            </div>
        </div>
        <div class="card">
            <div class="item item-text-wrap item-avatar">
                <img src="img/pics/2.jpg">
                Leah M. Sagal
                <p>Bachelor Science in Information Technology</p>
            </div>
        </div>
        <div class="card">
            <div class="item item-text-wrap item-avatar">
                <img src="img/pics/3.jpg">
                Jeraldine G. Cuison
                <p>Bachelor Science in Information Technology</p>
            </div>
        </div>
        <div class="card">
            <div class="item item-text-wrap item-avatar">
                <img src="img/pics/4.jpg">
                Joemarie S. Subiate
                <p>Bachelor Science in Information Technology</p>
            </div>
        </div>
    </ion-content>
</ion-view>
