@font-face {
    font-family: 'CarterOne';
    src: url('../fonts/CarterOne.ttf');
    src: url('../fonts/CarterOne.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body, .ionic-body {
    font-family: 'CarterOne', sans-serif !important;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'CarterOne', sans-serif !important;
}
.bg-transparent {
    background: transparent;
}
.t-20 {
    top: 20px;
}
.t-40 {
    top: 40px;
}
.card .item {
    background-color: transparent;
}
.list .item {
    background-color: transparent;
    border: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
.ui-controlgroup, fieldset.ui-controlgroup {
    padding: 0;
    margin: .5em 0;
}
.ui-corner-all {
    -webkit-background-clip: padding;
    background-clip: padding-box;
}
.ui-controlgroup-horizontal .ui-controlgroup-controls {
    display: inline-block;
    vertical-align: middle;
}
.custom_input_text {
    border: 2px solid #444 !important;
    border-radius: 10px;
}
@media only screen and (min-device-width: 320px) and (max-device-height: 480px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 1) {
    .quiz-panel {
        background: transparent url(../img/quiz_panel.png) center no-repeat !important;
        background-size: contain !important;
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        box-shadow: none !important;
        -webkit-border-radius: 0 !important;
        -moz-border-radius: 0 !important;
        border-radius: 0 !important;
        border: 0 none !important;
        height: 390px !important;
    }
}
@media only screen and (min-device-width: 320px) and (max-device-height: 480px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
    .quiz-panel {
        background: transparent url(../img/quiz_panel.png) center no-repeat !important;
        background-size: contain !important;
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        box-shadow: none !important;
        -webkit-border-radius: 0 !important;
        -moz-border-radius: 0 !important;
        border-radius: 0 !important;
        border: 0 none !important;
        height: 390px !important;
    }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
    .quiz-panel {
        background: transparent url(../img/quiz_panel.png) center no-repeat !important;
        background-size: contain !important;
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        box-shadow: none !important;
        -webkit-border-radius: 0 !important;
        -moz-border-radius: 0 !important;
        border-radius: 0 !important;
        border: 0 none !important;
        height: 390px !important;
    }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {} @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) {} @media screen and (-webkit-device-pixel-ratio: 1.5) {} @media screen and (-webkit-device-pixel-ratio: 0.75) {} @media screen and (-webkit-device-pixel-ratio: 3) {} @media screen and (orientation: portrait) {
    .qpanel {
        background: transparent url(../img/panel.png) center no-repeat;
        background-size: contain;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        border: 0 none;
    }
}
.qlist {
    background: transparent url(../img/li.png) no-repeat !important;
    background-size: contain !important;
}
.quiz-panel {
    background: transparent url(../img/quiz_panel.png) center no-repeat;
    background-size: contain;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: 0 none;
    height: 450px;
}
.scroll-content {
    background: transparent url(../img/bg3.png);
    background-size: cover !important;
    font-family: 'CarterOne';
    color: #3a230a;
}
.welcome-message {
    background: transparent url(../img/welcome.png) center no-repeat !important;
    background-size: contain !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    border: 0 none !important;
    height: 135px;
}
.list-bg {
    background: transparent url(../img/li-active.png) center no-repeat !important;
    background-size: contain !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    border: none;
}
.list-bg2 {
    background: transparent url(../img/li.png) center no-repeat !important;
    background-size: contain !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    border: none;
}
.list-bg3 {
    background: transparent url(../img/list.png) center no-repeat !important;
    background-size: contain !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    border: none;
    height: 150px;
}
.bar.bar-orange {
    border-bottom: 4px solid #f7931e;
    background-color: #faa631;
    background-image: linear-gradient(0deg, #faa631, #faa631 50%, transparent 50%);
    color: #fff;
}
.bar.bar-orange .title {
    color: #fff;
}
.bar.bar-orange.bar-footer {
    background-image: linear-gradient(180deg, #faa631, #faa631 50%, transparent 50%);
}
.button-blue {
    color: #fff !important;
    font-weight: 800;
    background: url(../img/blue.png) center no-repeat !important;
    background-size: contain !important;
}
.button.button-start {
    border-color: #ddd;
    background: transparent url(../img/start.png) center no-repeat;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    border: 0 none !important;
}
.button.button-quit {
    border-color: #ddd;
    background: transparent url(../img/quit.png) center no-repeat;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    border: 0 none !important;
}
.button.button-yes {
    border-color: #ddd;
    background: transparent url(../img/yes.png) center no-repeat;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    border: 0 none !important;
}
.button.button-no {
    border-color: #ddd;
    background: transparent url(../img/no.png) center no-repeat;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    border: 0 none !important;
}
.button.button-author {
    border-color: #ddd;
    background: transparent url(../img/author.png) center no-repeat;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    border: 0 none !important;
}
.button.button-leaderboard {
    border-color: #ddd;
    background: transparent url(../img/leaderboard.png) center no-repeat;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    border: 0 none !important;
}
.button.button-sound {
    background: transparent url(../img/sound.png) center no-repeat;
    border: none !important;
    background-size: contain;
    min-width: 32px;
    min-height: 32px;
}
.button.button-sound2 {
    background: transparent url(../img/sound2.png) center no-repeat;
    border: none !important;
    background-size: contain;
    min-width: 32px;
    min-height: 32px;
}
.button.button-navicon {
    background: transparent url(../img/option.png) center no-repeat;
    border: none !important;
    background-size: contain;
    min-width: 32px;
    min-height: 32px;
}
.button.button-back {
    background: transparent url(../img/back.png) center no-repeat;
    border: none !important;
    background-size: contain;
    min-width: 32px;
    min-height: 32px;
}
.button.button-next {
    background: transparent url(../img/next.png) center no-repeat;
    border: none !important;
    background-size: contain;
    min-width: 32px;
    min-height: 32px;
}
.button.button-popnext {
    background: transparent url(../img/next.png) center no-repeat;
    border: none !important;
    background-size: contain;
    min-width: 69px;
    min-height: 55px;
    top: 50px;
    margin-left: 145px;
}
.button.button-check {
    background: transparent url(../img/check.png) center no-repeat;
    border: none !important;
    background-size: contain;
    min-width: 69px;
    min-height: 71px;
    top: 50px;
    left: -10px;
}
.button.button-close {
    background: transparent url(../img/close.png) center no-repeat;
    border: none !important;
    background-size: contain;
    min-width: 69px;
    min-height: 71px;
    top: 50px;
    left: 20px;
}
.button.button-forward {
    background: transparent url(../img/forward.png) center no-repeat;
    border: none !important;
    background-size: contain;
    min-width: 69px;
    min-height: 71px;
    /* top: 25px;
    left: -10px;*/
}
.button.button-reload {
    background: transparent url(../img/reload.png) center no-repeat;
    border: none !important;
    background-size: contain;
    min-width: 32px;
    min-height: 32px;
    /*top: 25px;
    left: -10px;*/
}
.button.button-save {
    background: transparent url(../img/check.png) center no-repeat;
    border: none !important;
    background-size: contain;
    min-width: 32px;
    min-height: 32px;
}
.button.button-s_close {
    background: transparent url(../img/s_close.png) center no-repeat;
    border: none !important;
    background-size: contain;
    min-width: 32px;
    min-height: 32px;
}
.icon-check {
    background: transparent url(../img/check.png) center no-repeat;
    border: none !important;
    background-size: contain;
    min-width: 48px;
    min-height: 48px;
}
.bar-button {
    background: url(../img/bar-button.png) center no-repeat;
    background-size: 100% 100%;
}
.bar-button1 {
    color: #000 !important;
    background: url(../img/bar-button1.png) center no-repeat !important;
    background-size: contain !important;
}
.bar-button1a {
    color: #000 !important;
    background: url(../img/bar-button1a.png) center no-repeat;
    background-size: contain !important;
}
.bar-button2 {
    color: #000 !important;
    background: url(../img/bar-button2.png) center no-repeat !important;
    background-size: contain !important;
}
.bar-button2a {
    color: #000 !important;
    background: url(../img/bar-button2a.png) center no-repeat !important;
    background-size: contain !important;
}
.center_loader {
    margin-top: 90px;
    margin-left: 90px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.conteneur_general_load_10 {
    overflow: hidden;
    width: 145px;
    height: 85px
}
.cle_bleu_load_10 {
    border-radius: 50px;
    width: 50px;
    height: 50px;
    border-top: 10px solid #CB2025;
    border-right: 10px solid #97BF0D;
    border-bottom: 10px solid #F8B334;
    border-left: 10px solid #00A096;
    -webkit-animation: load_dix 1.4s infinite linear;
    -moz-animation: load_dix 1.4s infinite linear;
    -ms-animation: load_dix 1.4s infinite linear;
    -o-animation: load_dix 1.4s infinite linear;
    animation: load_dix 1.4s infinite linear
}
@-webkit-keyframes load_dix {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    50% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg)
    }
    100% {
        -webkit-transform: rotate(720deg);
        -moz-transform: rotate(720deg);
        -ms-transform: rotate(720deg);
        transform: rotate(720deg)
    }
}
@-moz-keyframes load_dix {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    50% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg)
    }
    100% {
        -webkit-transform: rotate(720deg);
        -moz-transform: rotate(720deg);
        -ms-transform: rotate(720deg);
        transform: rotate(720deg)
    }
}
@-ms-keyframes load_dix {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    50% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg)
    }
    100% {
        -webkit-transform: rotate(720deg);
        -moz-transform: rotate(720deg);
        -ms-transform: rotate(720deg);
        transform: rotate(720deg)
    }
}
@keyframes load_dix {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    50% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg)
    }
    100% {
        -webkit-transform: rotate(720deg);
        -moz-transform: rotate(720deg);
        -ms-transform: rotate(720deg);
        transform: rotate(720deg)
    }
}
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
[ng-drag] {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
[ng-drag].drag-over {
    /*border: solid 1px red;*/
}
[ng-drag].dragging {
    opacity: 0.5;
}
[ng-drop] span.title {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 20px;
    margin-left: -100px;
    margin-top: -10px;
}
[ng-drop] div {
    position: relative;
    z-index: 2;
}
